<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195764286049-jos30lft7dbmt79nj58mdbji893n5ktr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195764286049-jos30lft7dbmt79nj58mdbji893n5ktr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195764286049-da4gtttfjavlmt07bmq1qmd3fbtt3cpc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEMBFqZA8AETPrxv6lxLDYrmW2aRDOing</string>
	<key>GCM_SENDER_ID</key>
	<string>195764286049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.algebra
</string>
	<key>PROJECT_ID</key>
	<string>algebra-82c5d</string>
	<key>STORAGE_BUCKET</key>
	<string>algebra-82c5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:195764286049:ios:e9a7e91a11faf0190d3020</string>
</dict>
</plist>
